@charset "UTF-8";
/*----------------------------------------
//////////////////////////////////////////	
GRID12.CABIN.CSS
//////////////////////////////////////////
Author:		Adam Whitcroft
URL:		http://www.cabincss.com
Twitter:	@adamwhitcroft
License:	MIT
Version:	1.0.2
//////////////////////////////////////////
----------------------------------------*/
/*----------------------------------------
01	RESET
----------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img,abbr,acronym { 
	border:0;
}
address,caption,cite,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
	padding:0;
	margin:0;
}
blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content: none;
}
/*----------------------------------------
02	HTML, BODY, MAIN
----------------------------------------*/
html {
	font-family:Arial, sans-serif;		/* basic sans-serif font stack - replace with your own */
	font-family:Georgia, serif;			/* basic serif font stack - replace with your own */
	font-size:100%; 					/* 16px */
	background:#FFFFFF;
	color:#141414;
}
body {
	min-height:100%;
	line-height:1.5em;
}
/*If you want to use the body element as a wrapper, apply the wrapper class below
otherwise add it to the div you want to use as a wrapper */
.wrapper {
	margin:0 auto;
	width:940px;
	padding:10px;
}
.clear {
	clear:both;
	float:none;
}
.left {
	float:left;
}
.right {
	float:right;
}
/*----------------------------------------
03	GRIDS
----------------------------------------*/
/*
Do you want to use grids?
12 Column Static Grid : https://github.com/Cabincss/Cabin-Extensions/tree/master/12.column.grid
16 Column Static Grid : https://github.com/Cabincss/Cabin-Extensions/tree/master/16.column.grid
*/
/*----------------------------------------
04	TYPOGRAPHY
	Calculate em size by dividing the desired font size (px) by 16. For example: 32px / 16px = 2em
----------------------------------------*/
/* Headings */
h1 {
	font-size:2em; /* 32px */
	margin-bottom:24px;
}
h2 {
	font-size:1.5em; /* 24px */
	margin-bottom:24px;
}
h3 {
	font-size:1.375em; /* 22px */
	margin-bottom:24px;
}
h4 {
	font-size:1.25em; /* 20px */
	margin-bottom:24px;
}
h5 {
	font-size:1.125em; /* 18px */
	margin-bottom:24px;
}
h6 {
	font-size:1em; /* 16px */
	margin-bottom:24px;
	font-weight:bold;
}
h1 img, 
h2 img, 
h3 img,
h4 img, 
h5 img, 
h6 img {
 	margin: 0;
}
/* Paragraphs */
p {
	margin-bottom:1.5em;
}
.nomargin {
	margin:0; /* Add this to any paragraph to remove the bottom margin of 1.5em */
}
.center {
	text-align:center;
}
i,em,cite {
	font-style:italic;	
}
b,strong {
	font-weight:bold;
}
del {
	text-decoration:line-through;
}
small {
	font-size:0.75em;
	line-height:1em;
}
/* Links */
a {
	text-decoration:none;
	cursor:pointer;
}
a:hover {
	text-decoration:underline;
}
a:visited,a:focus {
	position:relative;
	top:1px;
}
/* Blockquotes */
blockquote {
	margin-bottom:1.5em;
	text-indent:-0.5em; /* remember to ALWAYS open your quotes with &ldquo; and close with &rdquo; and NOT "" */
}
blockquote p {
	margin:0; /* removes the margin so cite can sit underneath it nicely */
}
cite {
	font-style:italic;
	display:block;
	font-size:0.75em; /* 12px */
	text-indent:0;	
}
/* Code & Pre */
pre,code {
	font-family:monospace;
	font-size:1em; /* 16px */
}
pre {
	overflow:auto;
	margin-bottom:1.5em;
}
code {
	line-height:1em;
}
.codecomment {
	color:#0D9815;
}
/* Customise the text selection color */
::selection {
	color:white;
	background:red;
}
::-moz-selection {
	color:white;
	background:red;
}
hr {
	margin:0 0 1.5em 0;
	background:#BBBBBB;
	height:1px;
	border:0;
}
/*----------------------------------------
05	LISTS
----------------------------------------*/
ul,ol {
	margin:0 0 1.5em 0; /* left margin of 40px has been removed to create a hung list */
}
ul ul,ul ol,ol ol,ol ul {
	margin:0 0 0 40px;
}
ul {
	list-style:block outside;
}
ol {
	list-style:decimal outside;
}
ol ol {
	list-style:lower-alpha outside;
}
/* Definition Lists */
dl {
	margin-bottom:1em;
}
dt {
	font-weight:bold;
}
dt:after{
	content:":"; /* this selector adds a colon after the definition list title - if you don't want this, simply remove this line */
}
dt::after{
	content:":"; /* this selector adds a colon after the definition list title - if you don't want this, simply remove this line */
}
dd {
	margin:0 0 0 40px;
}
/*----------------------------------------
06	LOGO
	Suggested markup for your logo:
	<div>
		<a id="logo" href="#">
			Cabin.css
		</a>
	</div>
	
	Harry Roberts has a great article on why you should NOT use h1 and image replacement for your logo.
	http://csswizardry.com/2010/10/your-logo-is-an-image-not-a-h1/ 
----------------------------------------*/
#logo {
	display:block;
	height:99px; /* replace this with the height of your logo */
	width:300px; /* replace this with the width of your logo */
	background:url(img/yourlogo) no-repeat 0 0;
	text-indent:-9999em;
}
#logo:hover {
	background-position:0 -99px; /* replace 99 with your own value for your image hover state */
	border:0;
	text-decoration:none;
}
/*----------------------------------------
07	NAVIGATION
----------------------------------------*/
/*----------------------------------------
07a	Horizontal Orientation
	Apply class="nav-hor" to your ul eg: <ul class="nav-hor">
----------------------------------------*/
/* Horizontal menu */
.nav-hor {
	overflow:hidden;
	list-style:none;
	margin:0 0 1.5em 0;
	border-top:1px solid #BBBBBB;
	border-bottom:1px solid #BBBBBB;	
}
.nav-hor li {
	float:left;
}
.nav-hor li a {
	padding:5px;
	display:block;
}
/*----------------------------------------
07b	Horizontal Center Aligned
	Apply class="nav-cen" to your ul eg: <ul class="nav-cen">
----------------------------------------*/
.nav-cen {
	list-style:none;
	text-align:center;
	border-top:1px solid #BBBBBB;
	border-bottom:1px solid #BBBBBB;
}
.nav-cen li {
	display:inline;
}
.nav-cen li a {
	display:inline-block;
	padding:5px;
}
/*----------------------------------------
07c	Vertical Orientation
	Apply class="nav-ver" to your ul eg: <ul class="nav-ver">
----------------------------------------*/
.nav-ver {
	overflow:hidden;
	list-style:none;
	margin:0 0 1.5em 0;
}
.nav-ver li {
	line-height:1.5em;
	border-bottom:1px solid #BBBBBB;
}
.nav-ver li a {
	padding:5px;
	display:block;
}
.nav-v li:last-child {
	border:none; /* removes border from last menu item */
}
/*----------------------------------------
08	IMAGES
	Read up on fluid images http://www.alistapart.com/articles/fluid-images/
----------------------------------------*/
img,embed,object,video {
	max-width:100%;
	height:auto;
}
img {
	font-style:italic;
	color:#BBBBBB;
}
/*----------------------------------------
09	FORMS
----------------------------------------*/
/*
Do you want to use forms?
https://github.com/Cabincss/Cabin-Extensions/tree/master/Forms
forms.cabin.css will add basic styles to your forms.
*/
/*----------------------------------------
10	TABLES
----------------------------------------*/
/*
Do you want to use tables?
https://github.com/Cabincss/Cabin-Extensions/tree/master/Tables
tables.cabin.css will add basic styles to your tables.
*/
/*----------------------------------------
11	DEBUGGING
----------------------------------------*/
/*
Do you want to debug your project?
https://github.com/Cabincss/Cabin-Extensions/tree/master/Debugging
debug.cabin.css includes some useful debugging classes
*/